@media (max-width: 1200px){
  .header_bottom .logo img
  {
    top: -110px;
    right:79px;

  }
  .public p
  {
    font-size: 10px;
  }
}
@media (max-width: 1024px){
  .header_bottom .logo img
{
  top: -100px;
}
}
@media (max-width: 980px)
{
  .header_bottom .logo img {
    position: initial;
    width: 50%;
    display: table;
    margin: 0 auto;
  }
  .navbar-default:before
  {
    background: none;
  }

    .languge {
      text-align: center;
      float: initial;
}
  .copyright,.design
  {
    text-align: center;
  }

  .public p
  {
    font-size: 12px;
  }
  .service {
    margin: 90px 0 0;
  }
  .public {
      margin-bottom: 30px;
    }
    .pip {
    margin: 30px 0;
  }
}
@media (max-width: 800px){


      .projects
      {
        margin: 40px 0;
      }

      .public p
      {
        font-size: 14px;
      }
      .owl-dots
      {
        display: none !important;
      }


}
@media (max-width: 768px){

  .languge {
    text-align: center;
    float: initial;
    padding: 15px;
  }
  .logo {
      margin-bottom: 30px;
    }

  .navbar-toggle {
    float: right;
    margin: 10px;
  }
  .navbar-default .navbar-toggle {
      border-color: #888;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #616165;
  }
  .navbar-default .navbar-nav > li.active > a:after
  {
    width: 0;
  }
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus
  {
    background: #fe9a4e;
  }

  .navbar-default .navbar-nav>li>a:hover,
   .navbar-default .navbar-nav>li>a:focus
   {
     background: #fe9a4e;

   }
  .service img
  {
    margin: 10px 0;
    width: 100%;
  }

    .projects img{
      width: 100%;
    }
    .contact
    {
      padding: 20px;
      right: auto;
    }
}
@media (max-width: 480px){
img
{
  width: 100%;
}
.service1:hover .pic1
{
  padding: 20px;
}
  .service2:hover .pic2
  {
    padding: 20px;
  }
}
@media (max-width: 360px){

}
@media (max-width: 320px){
  .service1:hover .pic1
  {
    padding: 13px 20px;
  }
    .service2:hover .pic2
    {
      padding: 13px 20px;
    }
}

.navside {
    z-index: 999999;
}
