@media (max-width: 1200px){
  .header_bottom .logo img
  {
    top: -85px;

  }
}
@media (max-width: 980px){
  .works a
  {
    float: left;

  }
  .more {
    float: left;
}
}
@media (max-width: 768px){

.navbar-toggle {
    float: left;
  }
}
