@font-face{

    font-family: 's360r';
    src:url('fonts/ROBOTO-MEDIUM.TTF');
}

@font-face{

    font-family: 's360b';
    src:url('fonts/ROBOTO-BOLD.TTF');
}
@font-face{

    font-family: 's360t';
    src:url('fonts/ROBOTO-THIN.TTF');
}
body{
    font-family: 's360r';
    color: #1a1c1d;
}
h1, h2, h3, h4, h6, h5, b, strong {
    font-family: 's360b';
    font-weight: 300;
}
body{
    text-transform: capitalize;
    letter-spacing: 1px;
}
.languge
{
  float: right;
}
.search {
    margin: auto;
  }
.search button
{
  left: auto;
  right: 14px;
}
.more
{
  float: right;
}
.design {
    text-align: right;
}
.copyright {
    text-align:left;
  }
  .navbar-default:before{
    content: '';
    background: url(images/be1.png);
    width: 71px;
    height: 50px;
    position: absolute;
    top: 0;
    z-index: 99999999;
    left: -70px;
  }
  .header_bottom .logo img {
      position: absolute;
      top: -92px;
      right: 38px;
      z-index: 999999;
    }
