@font-face{

    font-family: 's360r';
    src:url('fonts/GE_SS_TWO_MEDIUM.OTF');
}

@font-face{

    font-family: 's360b';
    src:url('fonts/GE_SS_TWO_BOLD.OTF');
}
@font-face{

    font-family: 's360t';
    src:url('fonts/GE_SS_TWO_LIGHT.OTF');
}
.list-inline,.list-unstyled,p{
    margin: 0px;
}

a, .btn {
    text-decoration: none !important;
    outline: none !important;
    color: #0065a4;
}
a:hover {
    color: #000;
}
body{
    font-family: 's360r';
    color: #1a1c1d;
}
h1, h2, h3, h4, h6, h5, b, strong {
    font-family: 's360b';
    font-weight: 300;
}
/***************************/
.header_top {
    margin-bottom: 28px;
    margin-top: 20px;
}
.header_bottom{
    position: relative;
    margin-bottom: 0px;
}
.header_bottom .logo img {
    position: absolute;
    top: -107px;
    right: 85px;
    z-index: 999999;
}
.navbar-default {
    position: relative;
    border-radius: 0;
    background: #616165;
    margin: 0px 0 -7px 0;
    z-index: 99999;
    border: 0
}
.navbar-default:before{
  content: '';
  background: url(images/be.png);
  width: 71px;
  height: 50px;
  position: absolute;
  top: 0;
  right: -51px;
  z-index: 99999999;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
{
  background: none;
  color: #fff;
}
.navbar-default .navbar-nav>li>a ,.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
{
  color: white;
}
.navbar-default .navbar-nav > li.active > a:after
{
      content: '';
      position: absolute;
      transition: all 300ms;
      height: 2px;
      background: #fe9a4e;
      top: 0px;
      width: 48px;
      margin: 0px -48px;
}

/***************************/
.languge
{
  float: left;
  padding: 35px 15px;
}
.search
{
    margin: 0 15px;
}
.search input, .search input:hover, .search input:focus {
    outline: none !important;
    border: none;
    border-color: #e6e6e6;
    font-size: 16px;
    position: relative;
  }
.search  input
{
  width: 100%;
  background-color: #f5f5f5;
  padding: 9px 20px;
  border-radius: 5px;
}
.search button
{
  position: absolute;
  left: 5px;
  top: 0;
  height: 40px;
  background-color: #f5f5f5;
}
i.fa.fa-search {
  color: #123454;
}
.btn:hover, .btn:focus
{
  color: #123454;
  box-shadow: none;
}
 .search input::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 1
}


.owl-carousel {
  direction: ltr;
}
.slider .owl-carousel#sync1 img

{
  display: block;
  width:100%;
  height: auto;
}
.owl-prev , .owl-next
{
  display: none !important;

}

.owl-dots
{
    position: absolute;
      top: 82%;
      left: 50%
}
 .owl-theme .owl-dots .owl-dot span
{
  background: white;
  width: 13px;
  height: 13px;
}
.owl-theme .owl-dots .owl-dot.active span,
 .owl-theme .owl-dots .owl-dot:hover span
{
background: #525350;
}
.service
{
  margin: 90px 0;
}

.public h3
{
  color: #00757a;
}
.public span
{
    color: #00757a;
    font-size: 20px;
}

.public p
{
  font-size: 16px;
  color: #393839;
  padding: 3px 0;
    font-family: 's360t';
    text-align: justify;

}
.line
{
  border-color: #fe9a4e;
  width: 20%;
  margin: 15px 0;
}
.service1
{
  position: relative;
      margin: 30px 0;
}
.service1 .pic1
{
  display: block;
  color: white;
  position: absolute;
  bottom: 0;
  background: #363334;
  width: 100%;
  opacity: 0.9;
  padding: 13px 20px;
  font-size: 16px;
  font-family: 's360t';
}
.service1 .pic1:hover
{
  background: #157973;
}
.pip
{
  margin: 90px 0;
}
.more
{
  float: left;
  margin: 20px 0;
}
.works .line
{

      width: 20%;
}
.works span
{
  color: #00757a;
}
.more a
{
  color:  #fe9a4e;
  text-decoration: underline !important;
  font-size: 14px;
}
.projects
{
  margin: 40px 0 90px;
  position: relative;
}
.work1
{

      height: 60px;
      overflow: hidden;
      position: absolute;
      bottom: 0px;
      width: 100%;
      font-family: 's360t';

}
.work1:hover {

height: auto;
    text-overflow: inherit;
    width:100%;
  }
  .work1 p
  {
    background: #3e3a37;
    opacity: 0.9;
    color: white;
    text-align: justify;
    padding: 0 30px 30px;
    color: #989898;
    line-height: 25px;
  }
  .work1 .pro
  {
    background: #3e3a37;
    opacity: 0.9;
    color: white;
    padding: 20px 30px;
  }

  .works a
  {
text-decoration: underline !important;
color:#cccccc;
display: flex;
justify-content: flex-end;
  margin: 10px 0;
  }
  .works  span
  {
    font-size: 24px;
  }
.last
{
  background: #f7f7f7;
  padding: 90px 0 0;

}
.news
{
  height: 65px;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-family: 's360t';

}
.news:hover {
    height: auto;
    overflow: visible;
    text-overflow: inherit;
    width: 100%;
  }
  .news:hover .pro
  {
      color: #f1944d;
  }
  .news p
  {
    background: #3e3a37;
    opacity: 0.9;
    color: white;
    text-align: justify;
    padding: 0 30px 30px;
    color: #989898;
    line-height: 25px;
  }
  .news .pro
  {
    background: #3e3a37;
    opacity: 0.9;
    color: white;
    padding: 20px 30px;
  }


.date {
    display: grid;
    background: #fe9a4e;
    color: #ffff;
    padding: 3px;
    position: absolute;
    bottom: 92%;
    right: 40px;
    text-align: center;
    border-radius: 3px;

  }
  .footer_top{
    position: relative;
  }
  .map
  {
  height: 350px;
  width: 100%;
  position: relative;
  }

  .contact i
  {
    color: #fe9a4e;
    font-size: 20px;
  }
 .contact
{
  position: absolute;
  top: 20%;
  background-color: #188186;
  padding: 40px;
  right: 100px;
  opacity: 0.9;
  line-height: 30px;
}
.contact span
{
  color: white;
  padding: 0 10px;
  font-size: 15px;
  font-family: 's360t';

}
footer
{
  background-color: #393839;
  padding: 20px 0 ;
}
.copyright {
  text-align: right;
  margin: 0 80px;
}
.design {
    text-align: left;
    margin: 0 80px;
}
.copyright span ,.design span
{
  color: #848484;
font-size: 13px;
}
.copyright a ,.design a
{
color: #b9b9b9;
font-size: 13px;
}
